.deck-container {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.4em;
	background: #fff;
}

.deck-container .slide {
	background: #fff;
}

.deck-container .title {
	width: 80%;
	margin: 0 auto 0 auto;
}

.deck-container .subtitle {
	color: #46d1fd;
	display: block;
	font-size: 52px;
	margin-top: 475px;
	text-align: center;
}

.deck-container h1 {
	color: #000;
	
}

.deck-container h2 {
	color: #46d1fd;
	border-bottom-color: #eee;
}

.deck-container .subtitl  {
	color: #46d1fd;
}

.deck-container h3 {
	color: #666;
}
.deck-container .slide pre {
	border-color: #cde;
	background: #fff;
	position: relative;
	z-index: auto;
	/* http://nicolasgallagher.com/css-drop-shadows-without-images/ */
}
.borderradius .deck-container .slide pre {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.csstransforms.boxshadow .deck-container .slide pre > :first-child:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.csstransforms.boxshadow .deck-container .slide pre:before, .csstransforms.boxshadow .deck-container .slide pre:after {
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}
.csstransforms.boxshadow .deck-container .slide pre:before {
	left: 10px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.csstransforms.boxshadow .deck-container .slide pre:after {
	right: 10px;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}
.deck-container .slide code {
	color: #789;
}
.deck-container blockquote {
	font-size: 2em;
	font-style: italic;
	padding: 1em 2em;
	color: #888;
	border-left: 5px solid #ddd;
}
.deck-container blockquote p {
	margin: 0;
}
.deck-container blockquote cite {
	font-size: .5em;
	font-style: normal;
	font-weight: bold;
	color: #999;
}
.deck-container ::-moz-selection {
	background: #35cdfd;
	color: #fff;
}
.deck-container ::selection {
	background: #35cdfd;
	color: #fff;
}
.deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
	color: #46d1fd;
	text-decoration: none;
}
.deck-container a:hover, .deck-container a:focus {
	text-decoration: underline;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
	background: #ccc;
	font-family: serif;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
	color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
	background: #46d1fd;
	text-decoration: none;
}
.deck-container .deck-status {
	font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
	background: #eee;
}
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
	background: #ddf;
}

div.person-gallery {
	margin-top: 100px;
	padding-left: 100px;
}

div.person {
	height: 200px;
}

div.person img {
	display: block;
	float: left;
	margin: 0 30px 0 30px;
}

div.person .description {
	display: block;
}

.striking {
	color: #ff6c00;
}

.specialImage {
  	position:fixed;
  	z-index:100; /* or higher/lower depending on other elements */
}

.specialImage.top {
	top: 0;
}

.specialImage.bottom {
	bottom: 0;
}

.specialImage.left {
	left: 0;
}

.specialImage.right {
  	right: 0;
}

.drop-shadow {
    position:relative;
    float:left;
    width:95%;
    padding: 3em 0 3em 0;    
    margin: 3em 0 3em 20px; 
    background: #fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

 /* Lifted corners */

.lifted {
    -moz-border-radius:4px; 
         border-radius:4px;
}

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

ul.spacious, ol.spacious {
	float: left;
	display: block;
	margin-top: 50px;
}

ul.spacious li, ol.spacious li {
	font-size: 28px;
	margin: 30px 30px 30px 0;
}

div.img-block {
	display: block;
}

div.img-block.right {
	float: right;
}

table.data-table {
	margin: 80px auto 0 auto;
}

table td > img {
	margin: 30px 0 30px 0;
	width: 150px;
}

div.one-third {
	width: 33%;
	display: block;
	float: left;
	padding-top: 80px; 
}

div.one-fourth {
	width: 25%;
	display: block;
	float: left;
	padding-top: 80px; 
}

div.two-thirds {
	width: 66%;
	display: block;
	float: left;
}

div.three-fourths {
	width: 75%;
	display: block;
	float: left;
}

h3.inactive {
	color: #bfbfbf;
}
