---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.about_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>

<div class="container">
    <section class="index">

      <h1>About rOpenGov</h1>

      <p>
      The <a href="http://ropengov.github.io">rOpenGov</a> is a
      community-driven ecosystem of R packages for open government
      data and computational social sciences. 
      </p>

      <p>
      A community of independent package developers around open
      goverment data analytics is now emerging at
      rOpenGov. Independent
      <a href="{{ site.url }}/projects">projects</a> dedicated to US,
      Russia, Finland, Poland, Austria, and OpenStreetMap have already
      joined in, providing dedicated R tools to access, analyze, and
      visualize open government data. We are actively
      encouraging <a href="{{ site.url }}/contribute">new
      contributions</a>.
      </p>

      <p>
      The rapidly emerging governmental and other open data streams
      provide novel opportunities for social sciences, data
      journalism, and citizen participation across the globe while
      computational tools to utilize these resources are lacking.  A
      community-driven software ecosystem provides a scalable solution
      and a potential to revolutionize the field, taking advantage of
      the lessons learned in similar initiatives in other fields
      such as
      <a href="http://www.bioconductor.org">Bioconductor</a> and
      <a href="http://ropensci.org">rOpenSci</a>. 
      </p>
      
      <p>
      This umbrella site focusing on open government data R tools will
      give additional visibility for the participating projects,
      automated tools, an opportunity to attract contributors, and a
      forum for the developer community.  If you are
      working on related projects, don't hesitate to <a href="{{ site.url }}/contribute">get in touch!</a>
      </p>

    </section>

</div>
