---
layout: page
root: false
title: rOpenGov
tagline: Contact information
language: en
ss-social: true
---

{% include JB/setup %}

<div class="span12">
	
	<p>
		rOpenGov is a community-driven R package ecosystem for
		open government data worldwide. Your contributions are
		welcome.
	</p>
	
	
	<div class="contact-links">
		<div class="row-fluid">
			<div class="span1">
				<i class="ss-icon section-icon" style="font-weight: bold;">email</i>
			</div>
			<div class="span10 contact-link">
				<strong>Email </strong> louhos - at - googlegroups.com
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span1">
				<i class="ss-icon section-icon" style="font-weight: bold;">like</i>
			</div>
			
			<div class="span10 contact-link">
				<strong>IRC: </strong><a href="http://webchat.xs4all.nl">#ropengov@Freenode</a>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span1">
				<i class="ss-icon section-icon" style="font-weight: bold;">octocat</i>
			</div>
			<div class="span10 contact-link">
				<strong>GitHub: </strong><a href="https://github.com/ropengov">https://github.com/ropengov</a>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span1">
			<i class="ss-icon section-icon" style="font-weight: bold;">wordpress</i>
			</div>

			<div class="span10 contact-link">
			<strong>Blog: </strong><a href="https://ropengov.wordpress.com">https://ropengov.wordpress.com</a>
			</div>
		</div>


		<div class="row-fluid">
			<div class="span1">
			<i class="ss-icon section-icon" style="font-weight: bold;">twitter</i>
			</div>

			<div class="span10 contact-link">
			<strong>Twitter: </strong> <a href="http://twitter.com/ropengov">ropengov</a> account and the <a href="https://twitter.com/#!/search/%23ropengov">hashtag <i>#rOpenGov</i></a>
			</div>
		</div>
		
	</div>	
</div>

<hr>

<div class="span12">
	<h4>Developers</h4>

	This is a community project. New contributors are welcome to join. The current main developers are listed below.

	<div class="row info">
		<!-- NOTE! one-third column is hard coded!-->
		{% for user_hash in site.users %}
		{% for user in user_hash %}
		{% if user.role == "admin" %}
		<div class="span3">
			<div class="personinfo">
				<h5 class="tagline-main">{{ user.name }}</h5>
				<img src="{{ ASSET_PATH }}/louhos/images/{{ user.picture }}" alt="{{ user.name }}" class="personinfo-img"/>
				<div class="links">

					{% if user.homepage %}
					<a href="{{ user.homepage }}" title="Homepage" target="_blank"> <img src="{{ ASSET_PATH }}/louhos/images/web24.png" /> </a>
					{% endif %}

					{% if user.twitter %}
					<a href="https://www.twitter.com/{{ user.twitter }}" title="Twitter" target="_blank"> <img src="{{ ASSET_PATH }}/louhos/images/twitter24.png" /> </a>
					{% endif %}

					{% if user.googleplus %}
					<a href="{{ user.googleplus }}" title="Google+" target="_blank"> <img src="{{ ASSET_PATH }}/louhos/images/googleplus24.png" /> </a>
					{% endif %}

					{% if user.github %}
					<a href="https://www.github.com/{{ user.github }}" title="GitHub" target="_blank"> <img src="{{ ASSET_PATH }}/louhos/images/github24.png" /> </a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
</div>

