---
layout: page
root: true
title: 
tagline: rOpenGov<!--R Ecosystem for Open Government Data and Computational Social Science-->
version: 0.1
ghurl: https://github.com/ropengov
language: en
---

{% include JB/setup %}

<strong>
Algorithms for Open Government Data and Computational Social Science
</strong>
<p></p>

<div class="row">
	<div class="span8">

		<p>
		  An avalanche of open data on elections, economics,
		  demography, traffic, and other fields relevant to
		  computational social science have become available.
		  New algorithms are needed to take full advantage of
		  these new information resources, and to access,
		  analyse and communicate such information in a fully
		  transparent and reproducible manner.  A
		  community-driven software ecosystem dedicated to
		  social and political sciences can provide a solution
		  and revolutionize the field as already happened in
		  biological sciences during the last decade.
		</p>


		<p> We are now building a community of independent
		  developers around open goverment data analytics. Hence,
		  <strong>we are calling for contributions in the
		  form of R packages</strong>. By joining the
		  community you will get added visibility and
		  recognition for your project and an opportunity to
		  share ideas, attract contributors, provide resources and pool the
		  efforts with others working on related topics. Here we
		  build on lessons learned from analogous projects in
		  other fields such
		  as <a href="http://www.bioconductor.org/">Bioconductor</a>.
		  If you are writing related software on other
		  languages than R, let us know. Don't hesitate
		  to <a href="http://louhos.github.io/en/contact.html">contact
		  us</a>!
		</p>

	</div>

	<div class="span4">
			  
		  <h3>Projects:</h3>

		<ul>
		  <li>
		    <strong>Austria</strong> <a href="https://github.com/skasberger/grazwahl2012">Grazwahl2012</a> R tools for Austria elections
		  </li>

		  <li>
		    <strong>Finland</strong> <a href="https://github.com/louhos/sorvi">sorvi</a> R package for open government data in Finland
		  </li>

		  <li>
		    <strong>Russia</strong> <a href="http://markuskainu.fi/rustfare/index.html">rustfare</a> R toolkit for open welfare data from Russian Federation
		  </li>

		  <li>
		    <strong>Further projects coming</strong>, <a href="contact.html">submissions welcome!</a>
		  </li>

		</ul>


		<h3><a name="support-or-contact" class="anchor" href="#support-or-contact"><span class="octicon octicon-link"></span></a>Contact</h3>

		<strong>IRC:</strong> #ropengov @ Freenode
		<p></p>
		<strong>Developers:</strong> Check out <a href="contact.html">contact page</a> or contact <a href="mailto:louhos@googlegroups.com">louhos@googlegroups.com</a>.</p>

	</div>

</div>




<!--<a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>-->
<!--You can <a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>-->

<div class="row">

<table border="1" bordercolor="#FFCC00" style="background-color:#FFFFFF" width="100%" cellpadding="3" cellspacing="7">
	<tr>
		<td>Topic</td>
		<td>Package name</td>
		<td>Links</td>
		<td>Developers</td>
		<td>Info</td>
	</tr>
	<tr>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
		<td>Table Cell</td>
	</tr>
</table>

</div>

<!--<div class="row">

	<div class="span4">
		
		<a href="contribute.html" id="ghinvolve">
			Contribute!
		</a>

	</div>

	<div class="span8">
			{% assign posts_collate = site.posts %}
			{% include JB/news_collate %}
	</div>

</div>-->
